In [1]:
import random
import numpy as np
import pandas as pd
import datetime

import os
current_dir = os.path.abspath(os.getcwd())
parent_dir = os.path.dirname(current_dir)

# добавить папку с собственными библиотеками
import sys
# ддя linux
# sys.path.append('//home//roman//python//litres//data_load//')
sys.path.append(parent_dir+'/data_load/')
sys.path.append(parent_dir+'/draw/')

import mechanics as mh

In [2]:
iterations = 36
bb_lst = []
gamers_lst = mh.create_team()
for j in range(iterations):
    b_lst = []
    for i in range(6):
        # print('skill: ', gamers_lst[i].skill)
        b_lst.append(gamers_lst[i].skill)
    for i in range(6):
        # print('ego: ', gamers_lst[i].ego)
        b_lst.append(gamers_lst[i].ego)
        
    difficult = round(random.randint(40, 60),2)
    b_lst.append(difficult)
    # print('difficult: ', difficult)
    res, jump_lst, help_lst, jump_value, help_value, team_value = mh.minute(gamers_lst, difficult)
    b_lst.append(res)
    b_lst.append(jump_lst)
    b_lst.append(help_lst)
    b_lst.append(jump_value)
    b_lst.append(help_value)
    b_lst.append(team_value)
    bb_lst.append(b_lst)

In [3]:
df = pd.DataFrame(bb_lst)
df.columns = [
    'skill1', 'skill2', 'skill3', 'skill4', 'skill5', 'skill6',
    'ego1', 'ego2', 'ego3', 'ego4', 'ego5', 'ego6',
    'difficult',
    'res', 
    'jump_lst', 'help_lst', 'jump_value', 'help_value', 'team_value'
]

In [4]:
df

,skill1,skill2,skill3,skill4,skill5,skill6,ego1,ego2,ego3,ego4,ego5,ego6,difficult,res,jump_lst,help_lst,jump_value,help_value,team_value
0,43,58,47,55,44,54,84,62,55,54,61,42,44,1,"[0.0, 67.28, 0.0, 19.25, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 34.76, 0.0]",67.28,34.76,102.04
1,43,58,47,55,44,54,84,62,55,54,61,42,47,1,"[0.0, 45.24, 0.0, 0.0, 0.0, 62.1]","[0.0, 0.0, 0.0, 0.0, 27.28, 0.0]",62.10,27.28,89.38
2,43,58,47,55,44,54,84,62,55,54,61,42,51,1,"[0.0, 0.0, 0.0, 0.0, 24.2, 0.0]","[0.0, 0.0, 42.3, 0.0, 0.0, 0.0]",24.20,42.30,66.50
3,43,58,47,55,44,54,84,62,55,54,61,42,49,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 56.7]",0.00,56.70,56.70
4,43,58,47,55,44,54,84,62,55,54,61,42,44,1,"[0.0, 31.9, 52.17, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 46.75, 0.0, 0.0]",52.17,46.75,98.92
5,43,58,47,55,44,54,84,62,55,54,61,42,56,1,"[0.0, 0.0, 54.05, 25.3, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 29.16]",54.05,29.16,83.21
6,43,58,47,55,44,54,84,62,55,54,61,42,40,1,"[0.0, 0.0, 19.27, 17.6, 0.0, 0.0]","[0.0, 0.0, 0.0, 37.4, 0.0, 0.0]",19.27,37.40,56.67
7,43,58,47,55,44,54,84,62,55,54,61,42,56,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 34.02]",0.00,34.02,34.02
8,43,58,47,55,44,54,84,62,55,54,61,42,44,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 48.06]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",48.06,0.00,48.06
9,43,58,47,55,44,54,84,62,55,54,61,42,54,0,"[0.0, 26.68, 41.36, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",41.36,0.00,41.36
10,43,58,47,55,44,54,84,62,55,54,61,42,43,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
11,43,58,47,55,44,54,84,62,55,54,61,42,58,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 28.42, 0.0, 64.35, 19.8, 0.0]",0.00,64.35,64.35
12,43,58,47,55,44,54,84,62,55,54,61,42,53,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
13,43,58,47,55,44,54,84,62,55,54,61,42,57,1,"[0.0, 0.0, 0.0, 0.0, 50.6, 0.0]","[0.0, 25.52, 48.88, 24.2, 0.0, 0.0]",50.60,48.88,99.48
14,43,58,47,55,44,54,84,62,55,54,61,42,45,0,"[25.8, 0.0, 22.56, 0.0, 22.44, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",25.80,0.00,25.80
15,43,58,47,55,44,54,84,62,55,54,61,42,47,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
16,43,58,47,55,44,54,84,62,55,54,61,42,46,0,"[0.0, 0.0, 23.03, 40.7, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",40.70,0.00,40.70
17,43,58,47,55,44,54,84,62,55,54,61,42,45,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
18,43,58,47,55,44,54,84,62,55,54,61,42,45,0,"[37.41, 0.0, 0.0, 0.0, 0.0, 23.22]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",37.41,0.00,37.41
19,43,58,47,55,44,54,84,62,55,54,61,42,40,1,"[0.0, 0.0, 18.8, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 36.96, 0.0]",18.80,36.96,55.76
20,43,58,47,55,44,54,84,62,55,54,61,42,44,0,"[15.91, 0.0, 0.0, 26.95, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",26.95,0.00,26.95
21,43,58,47,55,44,54,84,62,55,54,61,42,43,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 21.45, 52.8, 0.0]",0.00,52.80,52.80
22,43,58,47,55,44,54,84,62,55,54,61,42,48,1,"[0.0, 0.0, 46.53, 17.05, 0.0, 0.0]","[0.0, 0.0, 25.38, 0.0, 0.0, 46.98]",46.53,46.98,93.51
23,43,58,47,55,44,54,84,62,55,54,61,42,43,0,"[39.56, 0.0, 0.0, 0.0, 0.0, 22.14]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",39.56,0.00,39.56
24,43,58,47,55,44,54,84,62,55,54,61,42,50,1,"[29.24, 0.0, 0.0, 26.95, 0.0, 0.0]","[0.0, 0.0, 0.0, 62.7, 0.0, 0.0]",29.24,62.70,91.94
25,43,58,47,55,44,54,84,62,55,54,61,42,40,1,"[19.35, 0.0, 46.06, 0.0, 0.0, 64.26]","[0.0, 0.0, 27.26, 0.0, 0.0, 0.0]",64.26,27.26,91.52
26,43,58,47,55,44,54,84,62,55,54,61,42,51,0,"[0.0, 40.02, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",40.02,0.00,40.02
27,43,58,47,55,44,54,84,62,55,54,61,42,53,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[30.1, 0.0, 38.07, 0.0, 19.8, 0.0]",0.00,38.07,38.07
28,43,58,47,55,44,54,84,62,55,54,61,42,49,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
29,43,58,47,55,44,54,84,62,55,54,61,42,49,1,"[27.52, 68.44, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 32.12, 0.0]",68.44,32.12,100.56
30,43,58,47,55,44,54,84,62,55,54,61,42,40,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",0.00,0.00,0.00
31,43,58,47,55,44,54,84,62,55,54,61,42,51,1,"[0.0, 61.48, 0.0, 0.0, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",61.48,0.00,61.48
32,43,58,47,55,44,54,84,62,55,54,61,42,45,1,"[49.45, 0.0, 0.0, 0.0, 0.0, 51.3]","[0.0, 0.0, 0.0, 63.8, 0.0, 0.0]",51.30,63.80,115.10
33,43,58,47,55,44,54,84,62,55,54,61,42,57,0,"[0.0, 29.0, 0.0, 43.45, 0.0, 0.0]","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0]",43.45,0.00,43.45
34,43,58,47,55,44,54,84,62,55,54,61,42,40,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 35.1]","[0.0, 0.0, 0.0, 0.0, 0.0, 64.26]",35.10,64.26,99.36
35,43,58,47,55,44,54,84,62,55,54,61,42,43,1,"[0.0, 0.0, 19.74, 0.0, 0.0, 16.2]","[15.91, 0.0, 52.64, 0.0, 0.0, 44.82]",19.74,52.64,72.38

In [5]:
np.sum(df['res'])

20

In [6]:
df[['difficult', 'jump_value', 'help_value']].describe()

       difficult  jump_value  help_value
count  36.000000   36.000000   36.000000
mean   47.500000   29.663056   24.977500
std     5.416905   23.670363   24.556907
min    40.000000    0.000000    0.000000
25%    43.750000    0.000000    0.000000
50%    46.500000   32.170000   28.220000
75%    51.000000   48.695000   46.807500
max    58.000000   68.440000   64.350000

In [11]:
def check_zeros(lst):
    cntr = 0
    for item in lst:
        if item > 0:
            cntr = cntr + 1
    return cntr

In [13]:
np.mean(df['jump_lst'].apply(check_zeros))

1.25

In [14]:
np.mean(df['help_lst'].apply(check_zeros))

0.8333333333333334

In [15]:
np.max(df['jump_lst'].apply(check_zeros))

3

In [16]:
np.max(df['help_lst'].apply(check_zeros))

3