In [1]:
import random
import numpy as np
import pandas as pd
import datetime

In [96]:
# число игроков в команде
n = 6

# поправки на взятие вопроса
# мысленный прыжок
k_jump = 0.003
# докрут
k_help = 0.002
mods = 1

In [97]:
# класс продукта      
class gamer:
    def __init__(
                self, 
                id=-1, 
                # skill=0, 
                # ego=60
                ):
        self.id = id
        self.skill = round(random.randint(60, 80),2)
        self.ego = round(random.randint(40, 90),2)
        
    # отображаем все параметры в виду dataframe
    def to_df(self):
        df=pd.DataFrame(data=[self.__dict__.values()], columns=self.__dict__.keys())
        return df

In [98]:
a = gamer(1)

In [99]:
a.to_df()

   id  skill  ego
0   1     66   46

In [100]:
gamers_lst = []
for i in range(n):
    gamer_itm = gamer(i)
    gamers_lst.append(gamer_itm)

In [101]:
gamers_lst[3].to_df()

   id  skill  ego
0   3     75   65

In [107]:
def minute(gamers_lst, difficult):
    res = 0
    jump_lst = []
    help_lst = []

    # мысленный прыжок
    for i in range(n):
        version_rage = round((k_jump * gamers_lst[i].skill * gamers_lst[i].ego) + round(random.randint(-5, 5),2),2)
        jump_lst.append(version_rage)
    jump_value = np.max(jump_lst)

    # докрут
    for i in range(n):
        help_rage = round((k_help * gamers_lst[i].skill * (100 - gamers_lst[i].ego)) + round(random.randint(-5, 5),2),2)
        help_lst.append(help_rage)
    help_value = np.max(help_lst)
    
    # определяем взятие
    team_value = round(jump_value + help_value,2)
    print('team_value: ', team_value)
    if team_value >= difficult:
        res = 1
    else:
        res = 0

    return res

In [116]:
difficult = round(random.randint(20, 30),2)
print('difficult: ', difficult)
minute(gamers_lst, difficult)

difficult:  30
team_value:  28.88

0